<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include custom CSS -->
    <style>
        body {
            background-image: url('/static/images/ne.jpg'); 
            background-size: cover;
            background-position: center;
            height: 100vh; 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: grey;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center">Welcome to the Game Center, {{ username }}!</h1>

        <div class="row mt-4 d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/q1.jpg') }}" class="card-img-top" alt="Quiz Image">
                    <div class="card-body">
                        <h3 class="card-title">Quiz</h3>
                        <p class="card-text">Welcome to the Quiz game, a thrilling 2-player challenge where knowledge is your key to victory! Test your wits against your opponent in a battle of 10 mind-boggling questions.</p>
                        <form action="{{ url_for('quiz_lobby') }}" method="GET">
                                <input type="hidden" name="username" value="{{ username }}">
                            <button type="submit" class="btn btn-primary">Play Quiz</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
